.container-image {
  background-color:#ffffff;
  width: 600px;
  height: 575px;
  border-radius: 150px;
  margin-right: 156px;
  /* padding: 55px 60px 95px; */
  position: absolute;
  right: 50%;  
}

.headphone {
  width: 547x;
  height: 547px;
  padding-top: 20px;
  padding-left: 110px;
}