body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

header {
  background-color: #e24647;
  color: #ffffff;
  /* overflow: hidden; */
  margin: 0 115px;
  padding: 55px 60px 95px;
  
}

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

nav {
  font-size: 21px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: right;

}

a {
  text-decoration: none;
  color: inherit;
  margin: 55px 60px 880px;
  
}

button {
  width: 199px;
  height: 60px;
  border: solid 2px #252c41;
  background-color: #252c41;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 20px;
}